* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.Main-component-data {
  background-image: url(../src/img/principal.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}

.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;  
  padding: 10px;
  color: white;
  overflow: hidden;  
}

.dials {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.dials label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.slider {
  width: 100%;
  max-width: 300px;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #3f5c8c;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #3f5c8c;
  cursor: pointer;
}

 
@media (min-width: 1024px) {
  .App {
    flex-direction: row;
    justify-content: space-around;
  }

  .dials {
    gap: 30px;
  }
}

@media (max-width: 1024px) and (min-width: 600px) {
  .App {
    flex-direction: column;
    gap: 15px;
  }

  .dials {
    gap: 15px;
  }
}

@media (max-width: 600px) {
  .App {
    flex-direction: column;
    gap: 10px;
  }

  .dials {
    gap: 10px;
  }

  .slider {
    max-width: 100%;
  }
}
